<div class="main-w3layouts wrapper" styl>

    <div class="main-agileinfo">
        <div class="agileits-top" style="background:white;border: 1px solid rgba(0,0,0,.125);border-radius: .25rem;">
            <form action="#" method="post">
                
                <input class="text email" type="text" name="fName" placeholder="First Name" [(ngModel)]="firstName" required="">
                <input class="text email" type="text" name="lName" placeholder="Last Name" [(ngModel)]="lastName"  required="">
                <input class="text email" type="text" name="email" placeholder="Email" [(ngModel)] = "email" required="" >
                <input class="text email" type="text" name="number" placeholder="Phone number" required="" >
                <input class="text" type="password" name="password" placeholder="Password" required="" [(ngModel)]="password">
                <input class="text w3lpass" type="password" name="password" placeholder="Confirm Password" required="">
                <div class="wthree-text">

                    <div class="clear"> </div>
                </div>
                <input type="button" (click)="registerUser()" value="SIGNUP">
            </form>
            
        </div>
    </div>
</div>